@media only screen and (max-width: 986px) {
    /* RISK Assessment */
    .risk-assess {
        flex-direction: column !important;
    }
}
.risk-assess .delete:hover {
    color: #dc354585 !important;
}
.risk-assess .edit:hover {
    color: #ffc10775 !important;
}