@media only screen and (max-width: 986px) {
    /* Header */
    .means-user .nav-item {
        text-align: center !important;
        padding-left: 10% !important;
        display: inline-block;
    }
    .means-user .last-child {
        display: inline-block !important;
    }
    .means-user .last-child .vLine {
        display: none;
    }
    .means-user .rounded-circle,
    .means-user .nav-link {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .means-header .means {
        padding: 0 !important;
    }


    /* RISK Assessment */
    .risk-assess {
        flex-direction: column !important;
    }

    /* Upload CSV File */
    .risk-assess .search,
    .risk-assess .btn_ {
        width: 100% !important;
    }
    .emp-main {
        flex-direction: column !important;
    }
    .emp-main .upload-employees,
    .emp-main .employee-list {
        width: 100% !important;
    }
    .emp-main .employee-list .col-md-12 {
        flex-direction: column !important;
    }
    .emp-main .employee-list .search,
    .emp-main .employee-list .btn_ {
        width: 100% !important;
    }

    /* Chart */
    .means-chart {
        flex-direction: column !important;
    }
    .means-chart .means-chart-I,
    .means-chart .means-chart-II {
        width: 100% !important;
    }

    /* Add Risk */
    .add-risk {
        flex-direction: column !important;
    }
    .add-risk .add-risk-list {
        width: 100% !important;
        min-width: 100% !important;
    }
}
@media only screen and (max-width: 720px) {
    .means-header .means {
        padding-right: 29px !important;
    }
}
@media only screen and (max-width: 958px) {
    /* Dashboard */
    .means-card {
        width: 100% !important;
    }
    .mean-card-main {
        width: 100% !important;
        flex-direction: column !important;
    }
    .means-body {
        width: calc(100vw - 230px);
    }
}